* {
  padding: 0;
  margin: 0;
}
#canvas {
  margin: 0 auto;
}
#controller {
  position: relative;
  clear: both;
}
#clear_btn {
  /*float: right;
*/
  display: inline-block;
  margin-right: 0;
}
.colorList {
  clear: both;
}
.color_btn {
  width: 30px;
  height: 20px;
  vertical-align: top;
  border: none;
}
.color_btn:hover,
.width_btn:hover {
  border: 2px solid violet;
}
.color_btn_selected {
  border: 2px solid blueviolet;
}
#black_btn {
  background: black;
}
#blue_btn {
  background: blue;
}
#green_btn {
  background: green;
}
#red_btn {
  background: red;
}
#orange_btn {
  background: orange;
}
#yellow_btn {
  background: yellow;
}
.width_btn {
  border-radius: 50%;
  background: #000;
  border: none;
  text-align: center;
  margin: 0 8px;
}
.width_btn_selected {
  border: 2px solid green;
}
#lineWidth5 {
  width: 5px;
  height: 5px;
}
#lineWidth10 {
  width: 10px;
  height: 10px;
}
#lineWidth15 {
  width: 15px;
  height: 15px;
}
#lineWidth20 {
  width: 20px;
  height: 20px;
}
#lineWidth25 {
  width: 25px;
  height: 25px;
}
#lineWidth30 {
  width: 30px;
  height: 30px;
}
